.App {
  text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: rgb(63, 63, 63);
  text-align: center;
  padding: 2px;
}

.footer a {
  color: rgb(63, 63, 63);
}

.footer a:visited {
  color: rgb(63, 63, 63);
}
